<ion-header>
  <ion-toolbar>
    <ion-title>Log in</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg">
  <h1>Welcome!</h1>
  <p>sign in to continue</p>
<div class="login-form ion-padding">
  <div class="form-input">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
      </ion-item>
  </div>
  <div class="form-input">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
      </ion-item>
  </div>
<div class="action-button ion-padding">
  <a href="Forgot password?">Forgot password?</a>
  <ion-button size="small" class="login-button">Log in</ion-button>
  <p>dont have an account? <a href="signup">Signup</a></p>
</div>
</div>
</ion-content>

